﻿@using MudBlazor 
@using MudBlazor.Components
@using Microsoft.AspNetCore.Components.Routing


        <MudNavMenu>
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home"><span class="text-white">Home</span></MudNavLink>
            <MudNavLink Href="/dashboard" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Dashboard"><span class="text-white">Dashboard</span></MudNavLink>
            <MudNavLink Href="/members" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People"><span class="text-white">Members</span></MudNavLink>
            <MudNavLink Href="/savings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Savings"><span class="text-white">Savings</span></MudNavLink>
            <MudNavLink Href="/loans" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Money"><span class="text-white">Loans</span></MudNavLink>
            <MudNavLink Href="/reports" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Assessment"><span class="text-white">Reports</span></MudNavLink>
        </MudNavMenu>
    
   
   